{%extends 'layout.html'%}
{% block self %}
<!--右侧主操作区-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i>
            <a href="?p=back">首页</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">博文管理</span>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">添加博文</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <form action="/admin/blog/add" method="post" id="myform" >
                <table class="insert-tab" width="100%">
                    <tbody>
                    <tr>
                        <th><i class="require-red">*</i>所属分类：</th>
                        <td>
                            <select name="category_id">
                                <option value="">请选择</option>
                                {% for cate in cateList %}
                                <option value="{{cate.cateName}}">{{cate.cateName}}</option>
                                {%endfor%}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require-red">*</i>标题：</th>
                        <td>
                            <input class="common-text required" name="blog_title" size="50" value="" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require-red">*</i>内容：</th>
                        <td>
                            <textarea name="blog_content" class="common-textarea" cols="100" rows="20"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

    </div>

</div>
<!--/右侧主操作区-->
</div>
{% endblock %}
