<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="/public/js/index.js"></script>
  <script src="/public/js/index.js"></script>
</head>
<body>
<h1 align="center">这是首页!!!</h1>
<div id="registerDiv" style="border:1px solid red;width:30%;line-height:40px;">
  <form action="/api/user/login" method="post">
    <div style="{display: none}">用户名：<input type="text" name="username"></div>
    <div>密码：<input type="text" name="password"></div>
    <div>确认密码：<input type="text" name="repassword"></div>
    <input id="registerBtn" type="submit" value="注册"><span id="loginBtn" style="margin-left:50px;text-decoration: underline;display: inline">登录</span>
  </form>
</div>
<div id="loginDiv" style="border:1px solid red;width:30%;line-height:40px;">
  <form action="/api/user/login" method="post">
    <div style="{display: none}">用户名：<input type="text" name="username"></div>
    <div>密码：<input type="text" name="password"></div>
    <input id="loginBtn" type="submit" value="登录"><span id="registerBtn" style="margin-left:50px;text-decoration: underline;display: inline">注册</span>
  </form>
</div>
</body>
</html>


